<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" contenStrt="text/html; charset=UTF-8">
  <title>Insert title here</title>

  <script>
    const toBase64 = file => new Promise((resolve, reject) => { const reader = new FileReader(); reader.readAsDataURL(file); reader.onload = () => resolve(reader.result); reader.onerror = reject; });

       async function showImg(){
        img.src = await toBase64(file.files[0])

        }
function showAnswers(){
}
function setAnswers(){
const rows = answersTable.tBodies[0].rows;
let arr = [];
for(let i=0;i<rows.length;i++){
  let obj = {};
  obj.text = rows[i].cells[0].getElementsByTagName("textarea")[0].value
  obj.isRight = rows[i].cells[1].getElementsByTagName("input")[0].checked;
  arr[i]=obj;
}
strAnswers.value = JSON.stringify(arr)
}
function addAnswer(){
let row = answersTable.insertRow(answersTable.rows.length)
let cell0 = row.insertCell(0)
let cell1 = row.insertCell(1)
cell0.innerHTML= "<textarea rows='3'></textarea>"
cell1.innerHTML= "<input type='checkbox' />"
}
</script>
</head>
<body>

<h2 >Creating task</h2>
<form  th:object="${task}" enctype="multipart/form-data" method="POST" action="/admin/task/save">
  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" name="name" id="name"></input></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><textarea rows="3" name="description"></textarea></td>
    </tr>
    <tr>
      <td>Image:<input type="file" id="file" onchange="showImg()" name="file" accept="image/png, image/jpeg"/>
      </td>
      <td><img id="img"/></td>
    </tr>
  </table>

  <label for="types">Choose a type:</label>
  <select onchange="showAnswers()" name="type.id" id="types">
    <option value="1">RADIO</option>
    <option value="2">CHECKBOX</option>
  </select>
  <label for="levels">Choose a level:</label>
  <select onchange="showAnswers()" name="level.id" id="levels">
    <option value="1">LOW</option>
    <option value="2">MIDDLE</option>
    <option value="3">HIGH</option>
  </select>
  <div id="ans">
    <input type="button" onclick="addAnswer()" value="Add answer"/>
    <input type="hidden" id="strAnswers" name="strAnswers"/>
    <table id="answersTable">
      <thead>
      <td>Text</td><td>Is right</td>
      </thead>
      <tr>
        <td><textarea rows="3"></textarea></td>
        <td><input type="checkbox" /></td>
      </tr>
      <tr>
        <td><textarea rows="3"></textarea></td>
        <td><input type="checkbox" /></td>
      </tr>
    </table>
  </div>
  <div><input onclick="setAnswers()" type="submit" value="SUBMIT"/></div>
</form>
</body>
</html>