<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" contenStrt="text/html; charset=UTF-8">
  <title>View task</title>


</head>
<body>

<h2 th:utext="${task.description}"></h2>
<img th:src="${task.imageStr}"/>
<div th:if="${task.type.name == 'RADIO'}">
  <div th:each="answer: ${task.answers}">
    <input th:name="ars" th:value="${answer.id}" type="radio">
    <textarea th:text="${answer.text}" th:rows="${answer.rowTextNum}"/>
    </input>
  </div>
</div>
<div th:if="${task.type.name == 'CHECKBOX'}">
  <div th:each="answer: ${task.answers}">
    <input th:name="answers" th:value="${answer.id}" type="checkbox">
    <textarea th:text="${answer.text}" th:rows="${answer.rowTextNum}"/>
    </input>
  </div>
</div>
</body>
</html>