<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" contenStrt="text/html; charset=UTF-8">
    <title>Insert title here</title>
    <script>
document.addEventListener("DOMContentLoaded", (event) => {
if(!localStorage.getItem("taskIds")){
localStorage.setItem("taskIds", taskIds.value);
}
});
function next(){
let array = JSON.parse(localStorage.getItem("taskIds"));
taskId.value=array[array.indexOf(+taskId.value) + 1]
}
    </script>
</head>
<body>
<h2 th:utext="${data.description}"></h2>
<img th:src="${data.imageStr}"/>
<form method="POST" th:action="${'/survey/'+surveyId}" th:object="${data}">
    <input type="hidden" id="taskId" name="id" th:value="${data.id}"/>
    <input type="hidden" id="taskIds" th:value="${taskIds}"/>
    <div th:if="${data.type.name == 'RADIO'}">
        <div th:each="answer: ${data.answers}">
            <input
                    th:name="ars" th:value="${answer.id}" type="radio">
            <textarea th:text="${answer.text}" th:rows="${answer.rowTextNum}"/>
            </input>
        </div>
    </div>
    <div th:if="${data.type.name == 'CHECKBOX'}">
        <div th:each="answer: ${data.answers}">
            <input th:name="answers" th:value="${answer.id}" type="checkbox"><label th:text="${answer.text}"/></input>
        </div>
    </div>
    <input onclick="next()" type="submit" value="Next>>>"/>
</form>
</body>
</html>